<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
    <link href="https://jsdelivr.net" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="nav">
        <h2>Student Marks Analyzer</h2>
    </nav>
    <div class="card">
        <div class="box2">

            <form method="POST" action="/calculate" >
                <input type="text" placeholder="Name" name="name" ><br><br>
                <input type="number" placeholder="Maths mark" name="maths"><br><br>
                <input type="number" placeholder="Science mark" name="science"><br><br>
                <input type="number" placeholder="English Mark" name="english"><br><br>
                <button type="submit">Calculate Result</button>
            </form>
        </div>
    </div>
    
</body>
</html>