<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>feedback form</h3>
    <form action="feed-back" method="POST"> 
        <input name="name" type="text" placeholder="name"><br><br>
        <input name="rating" type="number" placeholder="rating"><br><br>
        <textarea name="message" placeholder="massage" required>message</textarea><br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>